
td {
    border-style: solid;
}

table {
    width: 70% ;
}

td {
    width: 8% ;
}

img {
    max-width: 50%;
    max-height: 50%;
}

.error {
    color: red;
}

.info {
    color: blue;
}

.hidden {
    display: none;
}

.page {
    width: 100%;
    height: auto;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.taskButton {
    width: 300px;
}

.draw_object {
    color:red;
}

.line {
    background:black;
    height:1px;
    transform-origin: 0 100%
}

#canvas {
    position: absolute;
    top:0%;
    left:0%;
    width: 100%;
    height: 1024px;
    color: #000;
    z-index: 0;
}   

#canvas-toolbar {
    position: relative;
    top:0%;
    left:0%;
    z-index: 10;
}

#navbar {
    position:relative;
    z-index:100;
}

#message-bar {
    bottom: 0%;
    color:blue;
}

#task-title {
    width: 254px;
}

#bin {
    padding-left: 75%;
}

#scheduleTable{
    float:left;
}
#toolbox {
    padding-left: 75%;
}