.error {
    color: red;
}

.info {
    color: blue;
}

.hidden {
    display: none;
}

.page {
    width: 100%;
    height: auto;
}

/*body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('clock.gif');
}*/

td {
    border-style: solid;
}

table {
    width: 70% ;
}
td {
    width: 8% ;
}

#bin {
    padding-left: 75%;
}

#scheduleTable{
    float:left;
}
#toolbox {
    padding-left: 75%;
}

img {
    max-width: 50%;
    max-height: 50%;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.taskButton {
    width: 300px;
}


#task-title {
    width: 254px;
}

.draw_object {
    color:red;
}

.line {
    background:black;
    height:1px;
    transform-origin: 0 100%
}

#canvas {
    position: absolute;
    width: 100%;
    height: 3000px;
    background-color:white;
    color: #000;
}